*{
    margin: 0%;
    padding:0%;
}
.all{
    margin: 4rem;
    margin-right: 30%;
    padding-top: 3%;
    background-color: rgb(180, 155, 155);
    justify-content: center;
   
    
}
img{
    background-color: rgb(82, 82, 90);
    
    margin-right: 50%;
    margin-top: 1%;
    
}
.text{
  margin-left: 50%;
  margin-top:-25%;
  text-align: center;
}
@media (max-width:456px) {
   .all{
    margin: 1rem;
    justify-content: center;
    background-color: rgb(187, 217, 245);
   }
   img{
    height: 120px;
    width: 100px;
   }
}
h1{
    color: red;
}